<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Superhero Name Generator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render 'home/navbar' %>


    <%= yield %>
<br>
    <p class='text-center'><br>Based on design by JohnFelder.org - All Rights Reserved<br>
    Robots lovingly delivered by robohash.org<br>
    Text delivered by faker-ruby</small></p>
  </body>
</html>
